body {
	font-family: 'Roboto', sans-serif;
	text-align: left;
	font-size: 9pt;
}
caption {
	background-color: #F1EFC4;
	font-weight: 900;
	padding: 5px;
}
#orange {
	background-color: #E88F25;
	color: white;
	height: 3px;
	padding: 5px;
}
table {
	border-collapse: collapse;
}
td {
	border-bottom: 1px solid #F4D186;
}
th {
	color: #225190;	
}
img {
	transform: translateY(15%);
}
th, td {
	padding: 2px 5px;
}
#global {
	border-left:1px solid #F4D186;
	border-right:1px solid #F4D186;
	padding: 5px;
	border-spacing: 20px;
}
#border {
	border-bottom: 1px solid #F4D186;
	margin-bottom: 5px;
}