body {
	font-family: 'Roboto', sans-serif;
	font-size: 9pt;
}
.global {
	width: 600px;
}
.plan {
	background-color: #F1EECB;
	font-weight: 900;
	padding: 3px;	
	border-top: 2px solid /*#F1EECB*/;
}
.orange1, .orange2, .orange3 {
	color: white;
	background-color: #F26F20;
	padding: 3px;
	/*float: left;*/
	display: inline-block;
}
.orange1 {	
	width: 120px;
	margin-right: 0px;
}
.orange2 {
	width: 360px;
	margin: 0 -3px 0 -3px;
}
.orange3 {	
	width: 102px;
}
.lek {	
	border: 1px solid;
	/*float-left;*/
	width: 115px;
}
.content {
	border: 1px solid red;
	/*float: left;*/
	width: 300px;
}
.h3 {
	/**/
}
.mid {
	border: 1px solid blue;
}
p {
	margin: 3px;
}