body {
	font-family: 'Roboto', sans-serif;	
	width: 700px;		
}
h2 {
	margin-bottom: 10px;
}
.grey {
	background-color: #7E7E7E;
	color: white;
	font-weight: 900;
	text-decoration: none;
	padding: 1px 5px;
	margin: 4px;
	font-size: 0.7em;
}
#line {
	font-size: 0.7em;
	color: #656565;
	margin-bottom: 5px;	
	position: relative;
}
.global {
	border-left: 10px solid #BBBBBB;
	padding-left: 15px;
	height: 300px;
}
p {
	font-size: 0.8em;
}
#read_next {
	text-decoration: none;
	font-weight: 900;
	color: #4B76A6;
	font-size: 0.8em;
	position: absolute;
	bottom: 15px;
}
.content {
	height: 215px;
	position: relative;
}